<div class="container">
    <div class="row">
        <div class="col-12">
            <form action="/gameresult" method="POST">
                <div class="form-group">
                    <label for="valueUser1">User 1</label>
                    <input type="text" class="form-control" id="valueUser1" name="valueUser1" aria-describedby="userValue" placeholder="Enter value : Pierre, Feuille or Ciseaux">
                </div>
                <div class="form-group">
                    <label for="valueUser2">User 2</label>
                    <input type="text" class="form-control" id="valueUser2" name="valueUser2" aria-describedby="userValue" placeholder="Enter value : Pierre, Feuille or Ciseaux">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                </form>
        </div>
    </div>
</div>