<div class="container">
    <div class="row">
        <div class="col-12">
            User 1 picked {{valueUser1}}.<br/>
            User 2 picked {{valueUser2}}.<br/>
            {{winningUser}} has won.
        </div>
    </div>
</div>